@import url(/ESTILO_GLOBAL.CSS);


.contenedor_lista{
    margin: var(--centrar);
    background-color: pink;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    display: flex;
    align-items: var(--centro);
    justify-content: var(--centro);
    flex-direction: column;
}

.lista__elemento{
    margin-left: 10px;
    background-color: rgb(224, 94, 94);
    margin-bottom: 3px;
}

.lista__elemento--color{
    background-color: var(--verde);
    border: solid 2px black;
    color: var(--blanco);
}

.lista__elemento--decoracion{
    text-decoration: underline;
    font-style: italic;
}

.lista__elemento--modificador{
    font-weight: var(bold);
    text-transform: uppercase;
}

.lista__elemento--especial{
    background-image: linear-gradient(to right, #ff69b4, #ff99ff);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: var(--centro);
}